@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

    :root {
        --primary-color: #063970;
        --secondary-color: #f85e00;
        --accent1-color: #ffb563;
        --accent2-color: #918450;
     
        --heading-font: "Sedan SC", serif;
        --paragraph-font: "Sedan SC", serif;
     
        --nav-background-color: #063970;
        --nav-link-color: #f85e00;
        --nav-hover-link-color: #ffb563;
        --nav-hover-background-color: #918450;
     }
     
     .hero img {
      display: block;
      width: 400%;
      height: auto;
}


.hero {
    width: 20em;
    text-align: center;
    position: relative;
  
  }
  
article {
  position: absolute;
  top: 200px;
  left: 800px;
  float: right;
  border: 1px solid steelblue;
  padding: 2px; 
  box-shadow: 0 0 30px gray;
  margin: 1rem;
  width: 20000
  height: auto;
  padding: 1rem;
  background-color: #add;
  color: #000;
}

.hero h1 {
  position: absolute;
  top: 200px;
  left: 640px;
  border: 1px solid steelblue;
  padding: 2px; 
  box-shadow: 0 0 30px gray;
  margin: 1rem;
  width: 900
  height: auto;
  padding: 1rem;
  background-color: #add;
  color: #000;
}


main img {
  width: 600px;
  height: auto;
  margin: 0 0 1rem 1rem;

}
